@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html, body {
  color: white;
  background-color: rgb(30, 30, 35);
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.line {
  width: 100%;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  position: relative;
  max-width: 600px;
  margin: 50px;
}

.carousel {
  overflow: hidden;
  border-radius: 15px;

  ul {
    position: relative;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  }

  li img {
    width: 100%;
    border-radius: 15px;
  }
}

.nav-dot {
  position: absolute;
  cursor: pointer;
  width: 15px;
  height: 15px;
  opacity: .5;
  background-color: white;
  border-radius: 50%;
  transition: .4s;

  &:hover {
    opacity: .8;
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.left-arrow, .right-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 7.5px rgba(0, 0, 0, .7);
  top: 50%;
  opacity: .7;
  transition: .2s;

  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.signature {
  margin-top: 100px;
  bottom: 0;
  font-family: "Quicksand";
  color: rgba(150, 150, 170);
  text-shadow: 0 2.5px rgba(0, 0, 0, .25);
}

.name {
  color: white;
}

.dot {
  margin: 0 5px;
}

a {
  color: white;
  text-decoration: underline;
}
